# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.db
media/
staticfiles/

# Environments
.env
.env.*
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Others
*.bak
*.swp
*.swo

# Node (if any)
node_modules/

# Build
build/
